spring:
  application:
    name: tukuntech-ms-profiles

  cloud:
    compatibility-verifier:
      enabled: false

  config:
    import: "optional:configserver:"

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

app:
  security:
    jwt:
      secret: ${JWT_SECRET}
